    <div class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="mb-3">Welcome to Ramen Community!</h1>
          <p class="lead">This is a community where ramen lovers can share their favorite ramen shops and ramen recipes.</p>
        </div>
        <div class="col-md-6">
          <img src="https://picsum.photos/600/400" alt="" class="img-fluid rounded">
        </div>
      </div>
    </div>